extends layout
block content
 .container
   h1 Login
   p.lead
     | Sign in with your account. Don’t have one?
     a(href='/register')  Register Now.
     form(role='form', action='/login', method='post')
       .form-group
         label(for='correo') Correo:    
         input.form-control(type='text', id='email', name='email', placeholder='Introduzca su correo')
       .form-group
         label(for='password') Password:  
         input.form-control(type='password', id='password', name='password', placeholder='enter a password')
       button.btn.btn-primary(type='submit') Submit
       &nbsp;
       a.btn.btn-default(role='button', href='/') Cancel